* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-wrap: wrap;
    font-family: 'Montserrat', sans-serif;

}

html {
    width: 100%;
    height: 100%;

}

body {
    font-size: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}

main {
    display: grid;
    width: 90vw;
    height: 100%;
    padding: 5rem 3rem 3rem;
    grid-template-areas: 'info canvas' 'palette canvas';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    gap: 5rem;
}

canvas {
    grid-area: canvas;
    align-self: start;
    border-radius: 10px;

    width: 100%;
    height: 100%;
    object-fit: cover;

}



/* canvas {
    all: unset;
    max-width: 100%;
    max-height: 100%;
    
} */


.extContainer {
    height: 100%;
}

#colorContainer {
    border-radius: 8px;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    position: relative;

}


.paletteColor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imgSelect {
    background-color: #3f4552;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    position: relative;
}



#imgInput {
    margin: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

input::file-selector-button {
    display: none;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #3f4552;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    transition: background-color ease 0.5s, transform linear 0.2s;
    font-size: 1rem;
}

#imgInput {
    cursor: pointer;
}


.infoContainer {
    grid-area: info;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start
}

.infoContainer h1 {
    padding-top: 0;
    margin-bottom: 1.8rem
}

.lowerContainer p {
    margin-bottom: .8rem
}

.lowerContainer {
    display: flex;
    flex-direction: column;
}

.btnContainer {
    display: flex;
    justify-content: flex-start;
    padding-top: 1.2rem;
}

.btnContainer .btn:first-child {
    margin-right: 3rem;
}

#loader-container {
    /* display: none; */
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;

}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    border-top: 4px solid #3f4552;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto
}

.loadMsg {
    padding-top: 1rem;
    text-align: center;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #728492;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.btn:hover {
    background-color: #728492;
}



.btn:active {
    transform: scale(0.9);
}

.refreshBtn {
    all: unset;
    position: absolute;
    top: 15px;
    right: 15px
}

.refreshBtn {
    font-size: 1.8rem;
    cursor: pointer;
}